{"username": "root", "password": "password", "hostname": "{{ config_server }}", "transfer_protocol": "http", "mode": "{{ poap_mode }}","target_system_image": "{{ os_name }}.{{ os_version }}.bin", "config_path": "{{poap_config_path}}", "target_image_path": "{{poap_config_path}}", "update_image": {{update_image}}}
